
        body {
            padding: 30px;
        }

        h2 {
            color:#764e36;
            border: solid;
            border-right: none;
            border-left: none;
        }
        h3.subtitle {
            color:#fff;
            background-color: #764e36;
            font-weight: bold;
        }
       
        img {
            border: 4px solid #764e36;
            padding: 10px;
        }